<a href="{{ item.url }}" title="{{ item.title }}" alt="{{ 'widget.socialbuttons.link'|trans({}, 'victoire') }} {{ item.kind }}" class="social-icon-{{ item.kind }}" target="_blank">
    <i class="fa fa-instagram"></i>
</a>
