<a href="{{ item.url }}" title="{{ item.title }}" alt="{{ 'widget.socialbuttons.link'|trans({}, 'victoire') }} {{ item.kind }}" class="social-icon-{{ item.kind }}" target="_blank"{% if item.analyticsTrackCode %} onclick="{{ item.analyticsTrackCode }}"{% endif %}>
    <i class="fa fa-viadeo"></i>
</a>